*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
}

.left{
    height: 100%;
    width: 43%;
    /* background-color: rgb(35, 238, 238); */
    padding: 3vw 5vw;
}

.left h1{
    margin-bottom: 2vw;
}

.left .form-item{
    height: 20vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.101);
    padding: 1vw 2vw;
    border: 2px solid #000;
}

.left .form-item .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: start;
}

.form-item .form input{
    height: 25px;
    width: 24vw;
    outline: none;
    border: none;
    border: 1px solid #000;
    padding-inline: 10px;
    font-size: 1rem;
    margin-top: 5px;
}

.form-item .form #calc-btn{
    padding: 0.4vw 2vw;
}

.left .form-item2{
    height: 32vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.101);
    padding: 1vw 2vw;
    border: 2px solid #000;
    margin-top: 6vw;
}

.left .form-item2 .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: start;
}

.form-item2 .form input{
    height: 25px;
    outline: none;
    border: none;
    border: 1px solid #000;
    padding-inline: 10px;
    font-size: 1rem;
    margin-top: 5px;
    width: 24vw;
}

.form-item2 .form #calc-btn2{
    padding: 0.4vw 2vw;
}

.right{
    height: 100%;
    width: 57%;
    /* background-color: rgb(81, 0, 243); */
    padding: 5vw 0vw;
}

.right .right-up{
    height: 30vh;
    width: 57vw;
    /* background-color: cornsilk; */
    display: flex;
    align-items: center;
}

.right .right-up .card1{
    height: 100%;
    width: 33.34%;
    /* background-color: blanchedalmond; */
    padding: 2vw 0vw;
    text-align: center;
}

.right .right-up .card1 .icon {
    font-size: 5vw;
}

.right .right-up .card1 #total-budget {
    font-size: 2.3vw;
    color: green;
}

.right .right-up .card2{
    height: 100%;
    width: 33.34%;
    /* background-color: aquamarine; */
    padding: 2vw 0vw;
    text-align: center;
}

.right .right-up .card2 .icon {
    font-size: 5vw;
}

.right .right-up .card2 #total-expense {
    font-size: 2.3vw;
    color: red;
}

.right .right-up .card3{
    height: 100%;
    width: 33.34%;
    /* background-color: rgb(227, 86, 25); */
    padding: 2vw 0vw;
    text-align: center;
}

.right .right-up .card3 .icon {
    font-size: 4.9vw;
}

.right .right-up .card3 #total-balance {
    font-size: 2.3vw;
    color: green;
}

.right-down{
    height: 8vh;
    width: 38vw;
    /* background-color: cornsilk; */
}

.right-down .right-down1{
    display: flex;
    width: 40vw;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.right-down .right-down2{
    width: 50vw;
    height: 100%;
    margin-left: 5vw;
    /* background-color: burlywood; */
}

/* .right-down .right-down2 .first-list{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
} */

.right-down .right-down2 ul{
    list-style: none;
    /* margin-top: 20px; */
    /* width: 30vw; */
}

.right-down .right-down2 ul li {
    padding: 0 2vw;
    height: 6vh;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease 0.3s;
    /* background-color: azure; */
}


.btn-group button{
    margin-left: 5px;
    border: none;
    background : transparent;
    cursor : pointer;
    font-size: 14px;

}